hostname=
env=
db.host=
db.name=
db.username=
db.password=
db.cache.adapter=
auth.jwksUrl=
auth.serverAddress=
auth.frontendClientUuid=
auth.tokenEndpoint=
auth.managementApi.usersEndpoint=
auth.managementApi.logoutEndpoint=
auth.managementApi.clientId=
auth.managementApi.clientSecret=
aws.region=
aws.key=
aws.secret=
