parameters:
    level: 7
    paths:
        - module
    excludePaths:
        - module/Application/src/Controller/IndexController.php
        - module/MyApi/src/Module.php
    checkMissingIterableValueType: false
