<?php

return
    [
        'queue' =>
            [
//                '<queue name>' =>
//                    [
//                        'queueUrl' => '@queue.<queue name>.queueUrl@'
//                    ],
            ],
    ];
